
body {
    font-family: "Raleway", sans-serif;
}

/* CABEÇALHO */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem auto;
    margin-top: 1.5em;
    width: 90%;
    
}

.cabecalho__logo {
    width: 6.25rem;
    height: 1.75rem;
}

.cabecalho__busca {
    width: 1.0625rem;
    height: 1.0625rem;
}

/* FIM CABEÇALHO */


/* FORMULÁRIO LOGIN */

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    width: 100%;
    background: #eeeeee;
    
}

.login__titulo {
    margin-top: 6.0625rem;
}

.login__campo {
    border: none;
    border-radius: 4px;
    /* padding: 0.75rem 0 0.75em 0; */
    width: 17.1875rem;
    height: 2.5625rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.login__etiqueta {
    color: #A2A2A2;
    margin-top: 0.5rem;
    margin-left: 0.75rem;
    position: absolute; 
}

.login__etiqueta.senha {
    margin-top: 1rem;
}

.login__botao {
    background: #2A7AE4;
    border: none;
    padding: 0.75rem 2.125rem;
    font-weight: 500;
    color:#FFFFFF;
    margin-bottom: 4.75em;
}

/* FIM FORMULÁRIO LOGIN */


/* RODAPÉ */

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EAF2FD;
}

.rodape__links {
    color: #464646;
    font-weight: 500;
    list-style: none;
    margin: 2rem 0;
    
}

.rodape__links-link {
    margin-bottom: 1rem;
}

.rodape__formulario {
    width: 20.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.rodape__formulario-titulo {
    font-weight: 700;
    color: #464646;
    align-self:flex-start;
}

.rodape__etiqueta {
    position: absolute;
    color: #A2A2A2;
}

.rodape__etiqueta.nome {
    margin: 0.5rem 0 0 0.75rem;
    font-size: 12px;
}

.rodape__etiqueta.mensagem {
    margin: 1rem 0 0 0.75rem;
}


.rodape__input {
    border: none;
    border-radius: 4px;
    width: 20.5rem;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.rodape__input.nome {
    height: 3.5rem;
}

.rodape__input.mensagem {
    height: 5.125rem;
}

.rodape__botao {
    padding: 12px 16px;
    width: 9.4375rem;
    align-self: flex-start;
    font-weight: 500;
    font-size: 14px;
    background: #2A7AE4;
    color: #FFFFFF;
    border: none;
}

.creditos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    color: #464646;
    font-weight: 500;
}